<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:rim="http://www.blackberry.com/ns/widgets"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.mwaysolutions.cordova.webviewplugin"
  version="2.0.0">
  <name>Webview</name>
  <description>Cordova Webview Plugin</description>
  <license></license>
  <keywords>cordova, webview</keywords>
  <repo>git@git.mwaysolutions.com:systeminfo-ios/cordova-webview-plugin.git</repo>

  <js-module src="www/webview-plugin.js" name="webviewplugin">
      <clobbers target="webview" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="WebViewPlugin">
        <param name="android-package" value="com.mwaysolutions.cordova.webviewplugin.WebViewPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/WebViewPlugin.java" target-dir="src/com/mwaysolutions/cordova/webviewplugin"/>
    <source-file src="src/android/InAppBrowserDialog.java" target-dir="src/com/mwaysolutions/cordova/webviewplugin" />
    <source-file src="src/android/InAppChromeClient.java" target-dir="src/com/mwaysolutions/cordova/webviewplugin" />

    <!--  drawable src/android/resources -->
    <resource-file src="src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_refresh.png" target="res/drawable-hdpi/ic_action_refresh.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_refresh.png" target="res/drawable-mdpi/ic_action_refresh.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_refresh.png" target="res/drawable-xhdpi/ic_action_refresh.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_refresh.png" target="res/drawable-xxhdpi/ic_action_refresh.png" />
  </platform>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="WebViewPlugin">
          <param name="ios-package" value="WebViewPlugin"/>
        </feature>
    </config-file>

    <header-file src="src/ios/WebViewPlugin.h" />
    <source-file src="src/ios/WebViewPlugin.m" />
    <header-file src="src/ios/WebViewController.h" />
    <source-file src="src/ios/WebViewController.m" />
    <resource-file src="src/ios/images/ic_nav_back@2x.png" target="src/ios/images/ic_nav_back@2x.png" />
    <resource-file src="src/ios/images/ic_nav_close@2x.png" target="src/ios/images/ic_nav_close@2x.png" />
    <resource-file src="src/ios/images/ic_nav_forward@2x.png" target="src/ios/images/ic_nav_forward@2x.png" />
    <resource-file src="src/ios/images/ic_nav_refresh@2x.png" target="src/ios/images/ic_nav_refresh@2x.png" />
  </platform>
</plugin>
